{% extends 'admin/base_site.html' %}

{% load admin_static  %}

{% block extrastyle %}
    {{ block.super }}
    <style>
        .data {
            display: inline-block;
            float: left;
            width: 80%;
        }
    </style>
    <link href="{% static 'admin/css/forms.css' %}" type="text/css" rel="stylesheet">
{% endblock %}



{% block content %}

    <div id="content-main">
    {{ form.error }}
        <form action="" method="post" novalidate>
            {% csrf_token %}
{#{% block field_sets %}#}
{% for fieldset in form %}
    <fieldset class=" aligned" >
        {% if fieldset.name %}<h2>{{ fieldset.name }}</h2>{% endif %}
        {% if fieldset.description %}
            <div class="description">{{ fieldset.description|safe }}</div>
        {% endif %}
        <div class="form-row">
            <div class="field-box">
                {{ fieldset }}

                {% if fieldset.help_text %}
                    <div class="help">{{ fieldset.help_text|safe }}</div>
                {% endif %}
            </div>
        </div>
    </fieldset>
{#  {% include "admin/includes/fieldset.html" %}#}
{% endfor %}
{#{% endblock %}#}
            <div>
                <input type="submit" value="submit" />
            </div>
        </form>
    </div>
{% endblock %}