{% extends "admin/change_list.html" %}
{% load i18n %}
{% load admin_static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}">
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">Home</a> &rsaquo;
        <a href="{% url 'send_cloud_dashboard' %}">Django SendCloud</a> &rsaquo;
{#        <a href = "{% url 'rq_jobs' queue_index %}">{{ queue.name }} Workers</a>#}
    </div>
{% endblock %}


{% block content %}

{#    {% block object-tools %}#}
{#        <ul class="object-tools">#}
{#            <li>#}
{#                <a href="#">{% trans 'add' %}</a>#}
{#            </li>#}
{#        </ul>#}
{#    {% endblock %}#}


    <div class="module" id="changelist">
        <div class="results">
            <table id="result_list">
                <thead>
                    <tr>
                        <th>{% trans 'name' %}</th>
                        <th>{% trans 'address' %}</th>
                        <th>{% trans 'listType' %}</th>
                        <th>{% trans 'memberCount' %}</th>
                        <th>{% trans 'description' %}</th>
                        <th>{% trans 'gmtCreated' %}</th>
                        <th>{% trans 'gmtUpdated' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in object_list %}
                        <tr>
                            <td>{{ row.name }}</td>
                            <td>{{ row.address }}</td>
                            <td>{{ row.listType }}</td>
                            <td>{{ row.memberCount }}</td>
                            <td>{{ row.description }}</td>
                            <td>{{ row.gmtCreated }}</td>
                            <td>{{ row.gmtUpdated }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
        </table>
        </div>
    </div>
{% endblock %}