{% extends "admin/index.html" %}
{% load i18n %}
{% load admin_static %}



{% block sidebar %}
    <div id="content-related">
        <div class="module" id="recent-actions-module">
            <h2>{% trans 'Recent Account info' %}</h2>
            <table id="result_list">
                <thead>
                    <tr>
                        <th>{% trans 'name' %}</th>
                        <th>{% trans 'info' %}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>phone</td>
                        <td>{{ phone }}</td>
                    </tr>

                    <tr>
                        <td>email</td>
                        <td>{{ email }}</td>
                    </tr>

                    <tr>
                        <td>avaliableBalance</td>
                        <td>{{ avaliableBalance }}</td>
                    </tr>

                    <tr>
                        <td>balance</td>
                        <td>{{ balance }}</td>
                    </tr>

                    <tr>
                        <td>reputation</td>
                        <td>{{ reputation }} %</td>
                    </tr>

                    <tr>
                        <td>accountType</td>
                        <td>{{ accountType }}</td>
                    </tr>

                    <tr>
                        <td>todayUsedQuota</td>
                        <td>{{ todayUsedQuota }}</td>
                    </tr>

                    <tr>
                        <td>quota</td>
                        <td>{{ quota }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}